<a href="https://colab.research.google.com/github/Thitichaya2000/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานเก็บข้อมูลที่อยู่ในรูปแบบตาราง 

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas #เรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (comma separated values) เป็นไฟล์ที่เราจะได้ใช้กันในวิชานี้

In [ ]:
 data_df = pd.read_csv ( 'data.csv' )

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv( 'data.csv' ) 
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. พยายามใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variables_a =  12
variables_b = 'abcde'  # ' เรียกว่า quote
variables_c = variables_a #ไม่มี quote จะเป็นตัวแปร

In [ ]:
variables_a

12

In [ ]:
variables_b

'abcde'

In [ ]:
variables_c

12

In [ ]:
# ชื่อห้ามมีเว้นวรรค
variables a = 6

SyntaxError: ignored

In [ ]:
# (พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [ ]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(V_a)

2
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [ ]:
print(variable1)

1

In [ ]:
variables_a =  12
variables_b = 'abcde'  # ' เรียกว่า quote
variables_c = variables_a #ไม่มี quote จะเป็นตัวแปร
variables_d =  -41.2
variables_4 =  "KKU" # " เรียกใช้ double quote

In [ ]:
variables_x = variables_c + variables_d
print(variables_x)

-29.200000000000003

In [ ]:
variables_a + variables_b

TypeError: ignored

In [ ]:
print(variables_b + variables_4) # string บวกกันได้ เอามาต่อกัน

abcdeKKU

## Casting int() float() str()

In [ ]:
print(variables_x)
print(int(variables_x)) #ตัดทศนิยมออก เป็นจำนวนเต็ม

-29.200000000000003
-29

In [ ]:
V_X = str(variables_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X + variables_a

TypeError: ignored

In [ ]:
variables_a + V_X

TypeError: ignored

In [ ]:
V_X # ถ้ามี ' ยังเป็น str อยู่่

'-29.200000000000003'

In [ ]:
float(V_X) #เปลี่ยนเป็นตัวเลข

-29.200000000000003

## Data structure 
### list()

In [ ]:
list_a =[1 , 2 , 0.2 , 'abs' , ] # [] square brackets
list_b = [2, 'xyz', list_a, [1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b)

4

In [ ]:
list_b[3]

[1, 2, 0.0]

In [ ]:
list_b[3][1] #ค่อยๆดูทีละอัน

2

string คือ list ของตัวหนังสือ

In [ ]:
a = 'Stat KKU' #เริ่มนับจาก 0,1,2,...

In [ ]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [ ]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [ ]:
list_d.append( 'a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
list_d

['a', 56]

### การชี้ค่าใน list(indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]   

ถ้าเป็นสัญลักษณ์คณิตศาสตร์  [ตัวหน้า:ตัวหลัง] ->[ตัวหน้า , ตัวหลัง]

In [ ]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[:5]

'Stat '

In [ ]:
a[5:]

'KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[-3::]

'KKU'

list + list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```pyphon
 f'string{ตัวแปร}'
```
{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ  {list_a} '

"ตัวแปร list_a มีค่าคือ  [1, 2, 0.2, 'abs'] "

#Loop

ทำงานที่ซ้ำๆกัน คล้ายๆกัน หลายรอบ

``` python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป :
    do something #in loop
    do another thing #in loop

do other thing #out side loop
```

In [ ]:
for i in [1, 2, 3, 4, 5] :
     print(i+1)

2
3
4
5
6

In [ ]:
list5 = [1,2,3,4,5]
for x in list5 :
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2 ,7) :
    print(i)

2
3
4
5
6

In [ ]:
for i in range(2 ,7,2) :
    print(i)

2
4
6

In [ ]:
for i in range(5) :
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5) :
    print('hahaha') 
    x = i+3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

##Nested loop

In [ ]:
for i in range(3) :
    print(f'now i = {i} ')  ##เว้นวรรคให้ตรงกัน
    print(' start j loop ')  ##เว้นวรรคให้ตรงกัน
    for j in range(4) : ##เว้นวรรคให้ตรงกัน
          print (f' i = {i} j = {j} i+j = {i+j}')
    print( 'end j loop'  )

now i = 0
 start j loop
 i = 0 j = 0 i+j = 0
 i = 0 j = 1 i+j = 1
 i = 0 j = 2 i+j = 2
 i = 0 j = 3 i+j = 3
end j loop
now i = 1
 start j loop
 i = 1 j = 0 i+j = 1
 i = 1 j = 1 i+j = 2
 i = 1 j = 2 i+j = 3
 i = 1 j = 3 i+j = 4
end j loop
now i = 2
 start j loop
 i = 2 j = 0 i+j = 2
 i = 2 j = 1 i+j = 3
 i = 2 j = 2 i+j = 4
 i = 2 j = 3 i+j = 5
end j loop

#Condition (if statement)

```python
if   เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==, !=,<,>,<=,>=):
     ถ้าเงื่อนไขเป็นจริง ทำงาน 1
     ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [ ]:
stringx = 'yujhgfurtuperteyueefhppfpsodllccs'

if len(stringx) > 30:
   print(f'{stringx} is longer than 30 characters')

yujhgfurtuperteyueefhppfpsodllccs is longer than 30 characters

In [ ]:
stringx = 'yujhgfurtuperteyueefhppfpsodllccs'

if len(stringx) > 100:
   print(f'{stringx} is longer than 30 characters')

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [ ]:
stringx = 'yujhgfurtuperteyueefhppfpsodllccs'

if len(stringx) > 100:
   print(f'{stringx} is longer than 30 characters')
else: 
  print(f'{stringx} in {len(stringx)} characters long')

yujhgfurtuperteyueefhppfpsodllccs in 33 characters long

```python
if   เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==, !=,<,>,<=,>=):
     ถ้าเงื่อนไขเป็นจริง ทำงาน 1
     ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
      ถ้าเงื่อนไขเป็นจริง ทำงาน a1
      ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
      ถ้าเงื่อนไขเป็นจริง ทำงาน b1
      ถ้าเงื่อนไขเป็นจริง ทำงาน b2
elif #เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง
      ทำงานที่ x
```

In [ ]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
        print('welcome')
elif len(input_pass) > len(password):
        print('Too long, try again!')
elif len(input_pass) < len(password):
        print('Too long, try again!')
else:
        print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [ ]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10.30 :Quiz1)

print ('Min value element  = %d'  % min(list_ex))

Min value element  = -19

In [ ]:
min = 100000000 #กำหนดค่าไว้ยอะๆก่อน
for i in list_ex:
    if i < min:
        min = i

print(min)

-19

In [ ]:
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

HW3 ตัดเกรด

In [11]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [22]:
for i in score:
  if i >= 80:
    print(f'{i} = Grade A')
  elif i >= 75 and i < 80:
    print(f'{i} = Grade B+')
  elif i >= 70 and i < 75:
    print(f'{i} = Grade B')
  elif i >= 65 and i < 70:
    print(f'{i} = Grade C+')
  elif i >= 60 and i < 65:
    print(f'{i} = Grade C')
  elif i >= 55 and i < 60:
    print(f'{i} = Grade D+')
  elif i >= 50 and i < 55:
    print(f'{i} = Grade D')
  else:
    print(f'{i} = Grade F')

49 = Grade F
65 = Grade C+
70 = Grade B
95 = Grade A
82 = Grade A
55 = Grade D+
89 = Grade A
20 = Grade F
77 = Grade B+
77 = Grade B+
81 = Grade A
59 = Grade D+
10 = Grade F

#Function