<a href="https://colab.research.google.com/github/Thitichaya2000/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานเก็บข้อมูลที่อยู่ในรูปแบบตาราง 

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas #เรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (comma separated values) เป็นไฟล์ที่เราจะได้ใช้กันในวิชานี้

In [3]:
 data_df = pd.read_csv ( 'data.csv' )

In [4]:
data_df

    name  age       city
0    Tom   27  Khon kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [5]:
data_df2 = pandas.read_csv( 'data.csv' ) 
data_df2

    name  age       city
0    Tom   27  Khon kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. พยายามใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variables_a =  12
variables_b = 'abcde'  # ' เรียกว่า quote
variables_c = variables_a #ไม่มี quote จะเป็นตัวแปร

In [7]:
variables_a

12

In [8]:
variables_b

'abcde'

In [9]:
variables_c

12

In [10]:
# ชื่อห้ามมีเว้นวรรค
variables a = 6

SyntaxError: ignored

In [11]:
# (พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [12]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [13]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(V_a)

2
2

In [14]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [15]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [16]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [17]:
print(variable1)

1

In [18]:
variables_a =  12
variables_b = 'abcde'  # ' เรียกว่า quote
variables_c = variables_a #ไม่มี quote จะเป็นตัวแปร
variables_d =  -41.2
variables_4 =  "KKU" # " เรียกใช้ double quote

In [19]:
variables_x = variables_c + variables_d
print(variables_x)

-29.200000000000003

In [20]:
variables_a + variables_b

TypeError: ignored

In [21]:
print(variables_b + variables_4) # string บวกกันได้ เอามาต่อกัน

abcdeKKU

## Casting int() float() str()

In [22]:
print(variables_x)
print(int(variables_x)) #ตัดทศนิยมออก เป็นจำนวนเต็ม

-29.200000000000003
-29

In [23]:
V_X = str(variables_x)
print(V_X)

-29.200000000000003

In [24]:
V_X + variables_a

TypeError: ignored

In [25]:
variables_a + V_X

TypeError: ignored

In [26]:
V_X # ถ้ามี ' ยังเป็น str อยู่่

'-29.200000000000003'

In [27]:
float(V_X) #เปลี่ยนเป็นตัวเลข

-29.200000000000003

## Data structure 
### list()

In [28]:
list_a =[1 , 2 , 0.2 , 'abs' , ] # [] square brackets
list_b = [2, 'xyz', list_a, [1,2,0.0]]

In [29]:
list_a

[1, 2, 0.2, 'abs']

In [30]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [31]:
len(list_b)

4

In [32]:
list_b[3]

[1, 2, 0.0]

In [33]:
list_b[3][1] #ค่อยๆดูทีละอัน

2

string คือ list ของตัวหนังสือ

In [34]:
a = 'Stat KKU' #เริ่มนับจาก 0,1,2,...

In [35]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [36]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [37]:
list_c

[]

In [38]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [39]:
list_d.append( 'a')

In [40]:
list_d

['a']

In [41]:
list_d.append(56)

In [42]:
list_d

['a', 56]

### การชี้ค่าใน list(indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [43]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [44]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [45]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]   

ถ้าเป็นสัญลักษณ์คณิตศาสตร์  [ตัวหน้า:ตัวหลัง] ->[ตัวหน้า , ตัวหลัง]

In [46]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [47]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [48]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [49]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [50]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [51]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [52]:
a

'Stat KKU'

In [53]:
a[:5]

'Stat '

In [54]:
a[5:]

'KKU'

In [55]:
a[-3:]

'KKU'

In [56]:
a[5:8]

'KKU'

In [57]:
a[5::]

'KKU'

In [58]:
a[-3::]

'KKU'

list + list

In [59]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [60]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```pyphon
 f'string{ตัวแปร}'
```
{} เรียกว่า curly brackets

In [61]:
f'ตัวแปร list_a มีค่าคือ  {list_a} '

"ตัวแปร list_a มีค่าคือ  [1, 2, 0.2, 'abs'] "

#Loop

``` python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป :
    do something
```

In [62]:
for i in [1, 2, 3, 4, 5] :
     print(i+1)

2
3
4
5
6

In [63]:
list5 = [1,2,3,4,5]
for x in list5 :
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
for i in range(2 ,7) :
    print(i)

2
3
4
5
6

In [66]:
for i in range(2 ,7,2) :
    print(i)

2
4
6

In [67]:
for i in range(5) :
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [68]:
for i in range(5) :
    print('hahaha') 
    x = i+3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

##Nested loop

In [ ]:
for i in range(3) :
    print(f'now i = {i} ')  ##เว้นวรรคให้ตรงกัน
    print(' start j loop ')  ##เว้นวรรคให้ตรงกัน
    for j in range(4) : ##เว้นวรรคให้ตรงกัน
          print (f' i = {i} j = {j} i+j = {i+j}')
    print( 'end j loop'  )

now i = 0
 start j loop
 i = 0 j = 0 i+j = 0
 i = 0 j = 1 i+j = 1
 i = 0 j = 2 i+j = 2
 i = 0 j = 3 i+j = 3
end j loop
now i = 1
 start j loop
 i = 1 j = 0 i+j = 1
 i = 1 j = 1 i+j = 2
 i = 1 j = 2 i+j = 3
 i = 1 j = 3 i+j = 4
end j loop
now i = 2
 start j loop
 i = 2 j = 0 i+j = 2
 i = 2 j = 1 i+j = 3
 i = 2 j = 2 i+j = 4
 i = 2 j = 3 i+j = 5
end j loop

#Condition

#Function