<a href="https://colab.research.google.com/github/Thitichaya2000/DWDM21/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd   
import os

In [17]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
path = '/content/drive/My Drive/PROJECT_DWDM'#ให้ข้อมูลที่อยู่ใน Drive แทนด้วยชื่อ path

##ข้อมูลชุดที่ 1 จำนวนผู้ลงทะเบียนใช้บริการอินเทอร์เน็ตความเร็วสูง

https://data.go.th/dataset/broadband-subscribers?fbclid=IwAR2hJLTNGiEnMNwRApUdbzzaFUj-1_Ag7HWgdZPxX-oaEKw2PBU0_W3-_m0

In [21]:
data_subscriber = pd.read_csv(os.path.join(path,'10broadband-subscribers.csv')) #จำนวนผู้ลงทะเบียนใช้บริการอินเทอร์เน็ตความเร็วสูงเก็บไว้ในตัวแปร data_subscriber
data_subscriber

    no.  quarter Thailand Internet Users_subscriber  year  value_subscriber
0     4        4         Total Internet subscribers  2003         652726.00
1     3        3         Total Internet subscribers  2003         529530.00
2     2        2         Total Internet subscribers  2003         453043.00
3     1        1         Total Internet subscribers  2003         365219.00
4     8        4         Total Internet subscribers  2004        1231344.00
..  ...      ...                                ...   ...               ...
68   72        4         Total Internet subscribers  2020       11478264.92
69   71        3         Total Internet subscribers  2020       11282645.58
70   70        2         Total Internet subscribers  2020       10912996.14
71   69        1         Total Internet subscribers  2020       10264995.67
72   73        1         Total Internet subscribers  2021       11876158.44

[73 rows x 5 columns]

##ข้อมูลชุดที่ 2 อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนครัวเรือน
https://data.go.th/dataset/broadband-penetration-per-household?fbclid=IwAR0tNweDa7pmiAaygo0Z88iFFIYLtQRFjujfaIyEpUub_bFVQEkcCbXAZJc

In [23]:
data_household = pd.read_csv(os.path.join(path,'12broadband-penetration-per-household-.csv'))  #อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนครัวเรือนเก็บไว้ในตัวแปร data_household
data_household

    no.     type_household  quarter  year  value_household
0     4  per household (%)        4  2003         0.000649
1     3  per household (%)        3  2003         0.000459
2     2  per household (%)        2  2003         0.000343
3     1  per household (%)        1  2003         0.000281
4     8  per household (%)        4  2004         0.008716
..  ...                ...      ...   ...              ...
68   72  per household (%)        4  2020         0.514683
69   71  per household (%)        3  2020         0.515873
70   70  per household (%)        2  2020         0.498972
71   69  per household (%)        1  2020         0.469344
72   73  per household (%)        1  2021         0.532524

[73 rows x 5 columns]

##ข้อมูลชุดที่ 3 อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนประชากร
https://data.go.th/dataset/broadband-penetration-per-population?fbclid=IwAR0D5Z4yxZOXJYPM9hgBJpAVbuWBkxwNzEdW_jWwlvvkCKQxaGERqrxffFs

In [25]:
data_population = pd.read_csv(os.path.join(path,'11broadband-penetration-per-population-.csv'))  #อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนประชากร ชื่อ data_population
data_population

    no.     type_population  quarter  year  value_population
0     1  per population (%)        1  2003            0.0001
1     2  per population (%)        2  2003            0.0001
2     3  per population (%)        3  2003            0.0001
3     4  per population (%)        4  2003            0.0002
4     5  per population (%)        1  2004            0.0005
..  ...                 ...      ...   ...               ...
68   69  per population (%)        1  2020            0.1510
69   70  per population (%)        2  2020            0.1605
70   71  per population (%)        3  2020            0.1659
71   72  per population (%)        4  2020            0.1685
72   73  per population (%)        1  2021            0.1740

[73 rows x 5 columns]

เชค Missing

In [27]:
data_subscriber.isnull().any() #check missingตาราง data_subscriber

no.                                   False
quarter                               False
Thailand Internet Users_subscriber    False
year                                  False
value_subscriber                      False
dtype: bool

In [28]:
data_household.isnull().any()  #check missingตาราง data_household

no.                False
type_household     False
quarter            False
year               False
value_household    False
dtype: bool

In [29]:
data_population.isnull().any() #check missingg ตาราง data_population

no.                 False
type_population     False
quarter             False
year                False
value_population    False
dtype: bool

In [40]:
data_population.drop(['YEAR / QUARTER (DATE) (QUARTER)','YEAR / QUARTER (DATE) (YEAR)'], axis=1, inplace=True)  #drop colunm ไตรมาสกับปีออกเพราะชุดข้อมูลที่จะเชื่อมมีเหมือนกัน
data_population

KeyError: ignored